.wk-form {
  font-family: "Inter", sans-serif;
  textarea,
  input {
    align-items: center;
    background: #1c1d1e;
    border: 2px solid #2a2b2d;
    border-radius: 0.4rem;
    color: #dbdbdb;
    gap: 1rem;
    padding: 0.6rem 1.2rem;
    width: 100%;
    &::placeholder {
      color: #666;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  textarea {
    height: 13rem;
  }
  label {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    margin-bottom: 0.4rem;
    h4 {
      margin-bottom: 0.4rem;
    }
  }
  &__row {
    &:not(:last-child) {
      margin-bottom: 4.2rem;
    }
    &-title {
      color: #dbdbdb;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 1.8rem;
    }
  }
  &__footer {
    align-items: center;
    background: #1a1b1e;
    border-top: 1px solid #2c3131;
    bottom: 0;
    display: flex;
    gap: 2.1rem;
    justify-content: flex-end;
    padding: 2.1rem 4rem;
    position: fixed;
    right: 0;
    width: 100%;
  }
  .search-results {
    background: #1c1d1e;
    border: 2px solid #242527;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 999;
    li {
      background-color: transparent;
      color: #dbdbdb;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      padding: 0.6rem 1rem;
      transition: all 0.3s;
      span {
        color: #383c41;
      }
      @apply font-Hind;
      &:hover {
        background-color: #151617;
      }
      &.selected {
        background-color: #151617;
      }
    }
  }
  .clear-icon {
    fill: #dbdbdb;
    height: 1.8rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
  }
}
