.wk-header {
  background-color: white;
  background-image: url("../../../../public/static/images/background-header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-width: 1.2rem;

  @apply border-front-blue;

  &--home {
    border-bottom-width: 0;
  }

  &__socials-nav {
    @apply bg-front-blue py-7 md:px-4;
    align-items: center;
    color: white;
    display: flex;
    fill: white;
    flex-direction: row;
    font-size: 1.5rem;
    gap: 3rem;
    justify-content: flex-end;
    a {
      align-items: center;
      display: flex;
      gap: 1rem;
      svg {
        height: 2.1rem;
        height: 2.1rem;
      }
    }
    @media screen and (max-width: 1240px) {
      display: none;
    }
  }

  & &__image {
    height: 100%;
    width: 100%;
  }
  & &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @apply md:px-4 py-7;
  }
  & &__nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    &-list {
      align-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;
      font-size: 1.8rem;
      gap: 3rem;
      justify-content: flex-end;
      margin-right: 4rem;
    }
    &-item {
      align-items: center;
      color: #0071bc;
      display: flex;
      flex-direction: row;
      font-size: 1.8rem;
      justify-content: center;
      position: relative;
      a {
        color: #0071bc;
        transition: color 0.3s ease;
      }

      &::after {
        background: #0071bc;
        bottom: -5px;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        transition: width 0.3s ease;
        width: 0;
      }

      &:hover::after {
        width: 100%;
      }

      &--active {
        &::after {
          width: 100%;
        }
      }
    }
  }
  .menu-button {
    display: none;
  }

  @media (max-width: 768px) {
    .wk-hamburger {
      display: block;
    }
    .menu-button {
      display: block;
    }

    .wk-header__nav {
      align-items: flex-start;
      background: #fff;
      box-sizing: border-box;
      flex-direction: row;
      height: 0rem;
      justify-content: center;
      left: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      top: 8.5rem;
      transition: all 0.3s;
      width: 100%;
      z-index: 999;
      &-list {
        margin-right: 0;
      }
      &--active {
        height: 60rem;
        padding: 2rem;
      }
    }

    .wk-header__nav-list {
      flex-direction: column;
      gap: 1rem;
    }

    & &__image {
      height: 50px;
      width: 50px;
    }
    &__search {
      display: none;
      &-box {
        display: none;
      }
    }
  }

  &__search {
    height: auto;
    min-height: 5rem;
    min-width: 2rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    transition: all 0.3s;
    width: auto;
    &-icon,
    &-close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;
      z-index: 999;
    }
    &-icon {
      left: 0;
      transition: all 0.3s;
    }
    &-close {
      right: 0;
      transition: all 0.3s;
    }
    input {
      border-radius: 1rem;
      position: absolute;
      right: 0;
      transition: all 0.3s;
      width: 0;
    }

    &--open {
      min-width: 50rem;
      .wk-header__search-icon {
        left: 2rem;
      }
      .wk-header__search-close {
        right: 2rem;
      }
      input {
        padding: 1rem 6rem;
        width: 100%;
      }
    }

    &-box {
      background-color: rgb(248, 248, 248);
      height: auto;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      top: 18.4rem;
      transition: all 0.3s;
      width: 100%;
      z-index: 9999;

      &--open {
        max-height: 170rem;
      }
    }
  }
}

.wk-hamburger {
  cursor: pointer;
  display: none;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  width: 45px;
  span {
    background: #0071bc;
    border-radius: 9px;
    display: block;
    height: 6px;
    left: 0;
    opacity: 1;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    width: 100%;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 12px;
    }
    &:nth-child(4) {
      top: 25px;
    }
  }
  &.open span {
    &:nth-child(1) {
      left: 50%;
      top: 18px;
      width: 0%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      left: 50%;
      top: 18px;
      width: 0%;
    }
  }
}
