.frontpage-whatsapp-button {
  bottom: 3rem;
  position: fixed;
  right: 3rem;
}

.wk-form {

  label {
      padding-bottom: 1.2rem;
  }

  input, textarea {
      background: #ffffff;
      border-color: #dddddd;
      color: #141414;
      margin-bottom: 2rem;
  }

}